@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=RocknRoll+One&display=swap');

/* style for all body*/
html{
  line-height: 1.15;
}
.App {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
*{ 
  box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(to bottom, rgb(227,100,210), rgb(79, 149, 206)); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* style for the title */
.App h1{
display: inline;
text-align: center;
margin-top: 2rem;
color : #e1ebfd;
text-shadow:  0 0 5px #433aa8,
3px -1px 5px #271c6c;
margin-bottom: 2rem;
}
